:root {
  /* 模式切换变量，默认light模式 */
  /* --current-background-color: var(--light-background-color);
  --current-primary-color: var(--light-primary-color); */

  /* 浅色主题 */
  --light-primary-color: #666;
  --light-background-color: #fff;

  /* 深色主题 */
  --dark-primary-color: #fff;
  --dark-background-color: #282c34;

  /* color-scheme: light dark; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* 浅色主题 */
    /* --current-background-color: #282c34;
    --current-primary-color: #fff; */
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /* 深色主题 */
    /* --current-background-color: #fff;
    --current-primary-color: #282c34; */
  }
}

.App {
  /* color: var(--current-primary-color);
  background-color: var(--current-background-color); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  transition: background-color 0.3s;
  isolation: isolate;
}

.App-light {
  color: var(--light-primary-color);
  background-color: var(--light-background-color);
}

.App-dark {
  color: var(--dark-primary-color);
  background-color: var(--dark-background-color);
}
